
[AliPay]
app_id=APP_ID
app_private_key=APP_PRIVATE_KEY
public_key=PUBLIC_KEY
notify_url=http://www.example.com/api/trade/notify/alipay
return_url=http://www.example.com/api/trade/notify/alipay

[LBS]
ak=AK

[SMS]
access_key=ACCESS_KEY
secret=SECRET
sign_name=SIGN_NAME




